@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f0e8;
  --foreground: #171717;
  --primary: #eb0a1e;
  --secondary: #384147;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f4f0e8;
    --foreground: #171717;
    --primary: #eb0a1e;
    --secondary: #384147;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
